input:focus{
    outline: #52c57e !important;
}

.bg-custom-grey{
    background-color: #888888;
}

.bg-custom-green{
    background-color: #52c57e;
}

.bg-custom-lightgreen{
    background-color: #b2dfa9;
}

.bg-custom-white{
    background-color: #ffffff;
}

.text-purewhite{
    color: #ffffff;
}

.otl-custom-green{
    outline-color: #52c57e;
}